# ADAM-6717
ADAM_IP=11.0.0.1
ADAM_PORT=5020
ADAM_SLAVE_ID=1

DI2_ADDRESS=2
DO0_ADDRESS=16

POLL_INTERVAL_SECONDS=0.05
DEBOUNCE_SECONDS=0.20
PUBLISH_HEARTBEAT_SECONDS=3.0


# EDGEHUB — PYTHON DATA GATEWAY ONLY
EDGEHUB_ENABLED=true

EDGEHUB_NODE_ID=
EDGEHUB_IOTHUB_HOST=
EDGEHUB_SAS_TOKEN=""

EDGEHUB_USE_X509=false

# Logical child device that will contain your actual tags.
EDGEHUB_DEVICE_ID=ADAM6717_IO