.env
__pycache__/
*.pyc
.venv/
.vscode/
storage/datasets/fail_defect/
storage/datasets/fail_different/
storage/datasets/pass/
storage/predictions/
storage/failures/
storage/test/*
tests/test_images/*
test_webcam*
*ini